@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.visibility {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: block;
}

.modals {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;

}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
